/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

/* set content highlight color and background */
::selection {
  background-color: var(--bright-turquoise);
  color: var(--outer-space);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--outer-space);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

code {
  /* Monospace font stack is used for our code blocks to make it look more like code */
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
}

main {
  width: 96%;
  margin: 2rem auto;
}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
}

header h1 {
  /* to display item horizontally instead of vertically */
  display: inline-block;
  font-size: 48px;
}

/* for nav start */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  /* setting the font type used in header class */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  /* Remove list's default bullets */
  list-style-type: none;
}

header nav ul li {
  /* to display list items horizontally instead of vertically */
  display: inline-block;
  margin-left: 25px;
}
/* for nav end */

.hero {
  /*Setting the height and width of the section */
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  /*Setting background image */
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.title-column {
  border-right: 5px solid white;
  justify-content: flex-end;
  width: 15%;
  margin-bottom: 20px;
}

.desp-column1 {
  display: flex;
  width: 75%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.desp-column1 p {
  margin-left: 20px;
}

.desp-column {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.desp-column p {
  margin-left: 20px;
}

.profile-picture {
  max-height: 300px;
}

.refactoring {
  max-height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.work-image-left {
  max-height: 200px;
  width: 50%;
  margin-bottom: 20px;
  padding-right: 15px;
}

.work-image-right {
  max-height: 200px;
  width: 50%;
  margin-bottom: 20px;
}

.contact-column ul li {
  display: inline-block;
}

footer {
  margin: 1.5rem;
  text-align: center;
}
